/*estilo general*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
body{
    background-color: #430055 !important;
    padding-top: 70px;
}
:root{
    --tipografiaTitulos: font-family: 'Roboto Condensed', sans-serif;
    --TipografiasParrafos: font-family: 'Roboto Mono', monospace;
    -colores: #430055 - #8040bc - #d9009c
}
/*header responsive*/
header{
    background-image: url(../imagenes/fondo-header.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;  
}
.navbar{
    background-color: #430055;
    border-bottom: solid #000 3px;
}
.navbar-collapse{
    align-items: center;
    justify-content: space-between;
}
.navbar-brand{
    background-image: linear-gradient(to bottom, #000,#8040bc,#fff);
}
nav button{
    background-image: linear-gradient(to bottom, #8040bc,#fff);
}
.nav-item{
    padding: 0px 10px;
    margin: 5px;
    border: solid 2px #8040bc;
    border-radius: 10%;
    background-image: linear-gradient(to bottom, #000,#8040bc);
}
.nav-item a{
    color:#fff;
    text-shadow: 0px -1px 10px #fff;
    font-family: 'Roboto Mono', monospace;
}
.nav-item a:hover{
    color: #d9009c;
}
@media screen and (max-width: 767px) {
    .navbar-brand{
        display: none;
    }
    body{
        padding-top: 45px; 
    }
}
.content-titulo{
    text-align: center;
}
.content-titulo h1{
    color: #fff;
    text-shadow: 0px -1px 10px #d9009c;
    margin: 0;
    margin-top: 15px;
    font-size: 50px;
    font-family: 'Montserrat', sans-serif;
}
.content-titulo h1 span{
    color: #d9009c;
    text-shadow: 0px -1px 10px #fff;
    font-weight: bold;
}
.content-titulo p{
    color: #fff;
    margin: 0;
    font-size: 30px;
    font-family: 'Roboto Mono', monospace;
}
.content-enlaces{
    text-align: center;
    padding: 10px;
}
.content-enlaces a{
    padding: 20px;
    display: inline-block;
    background-color: #8040bc;
    border-radius: 50%;
}
.content-enlaces a:nth-child(1){
    color: #430055;
}
.content-enlaces a:nth-child(2){
    color: #00ffff;
}
.content-enlaces a:nth-child(3){
    color: #0000ff;
}
.content-enlaces a:hover{
    background-color: #d9009c;
    transform: translateY(-10px);
}
@media screen and (max-width: 767px){
    .content-titulo h1{
        font-size: 40px;
    }
    .content-titulo p{
        font-size: 25px;
    }
}
@media screen and (max-width: 576px){
    .content-titulo h1{
        font-size: 30px;
    }
    .content-titulo p{
        font-size: 20px;
    }
    .content-enlaces a{
        padding: 10px;
    }
}
/*main responsive*/
/*section 1*/
.section{
    background: #d9009c;
    margin: 25px;  
}
.titulo-variedad{
    margin-top: 30px;
    margin-left: 30px;
}
.content_titulos-secundarios h2{
    font-size: 40px;
    font-family: 'Roboto Condensed', sans-serif;
    color: #fff;
    margin: 0;
    text-shadow: 0px -1px 10px #8040bc;   
}
.content_titulos-secundarios p{
    color: #fff;
    font-size: 30px;
    font-family: 'Roboto Mono', monospace;
    margin: 0;
}
.carousel-variedad{
    padding: 5px 30px 30px 30px;
}
.carousel-variedad img{
    height: 400px;
}
@media screen and (max-width: 767px){
    .content_titulos-secundarios h2{
        font-size: 30px;   
    }
    .content_titulos-secundarios p{
        font-size: 20px;
    }
    .carousel-variedad img{
        height: 300px;
    }
}
@media screen and (max-width: 576px){
    .content_titulos-secundarios p{
        font-size: 15px;
    }
    .carousel-variedad img{
        height: 200px;
    }
}
/*section 2*/
.factory{
    display: flex;
    flex-direction: column;  
}
.titulo-factory{
    margin-left: 30px;
}
.content_imagenes{
    margin: 5px 30px;
    background-image: linear-gradient(to top, #8040bc, #d9009c);
    display: flex;
    gap: 10px;   
}
.content_imagenes img{
    width: 40vw;
}
.content_imagenes p{
    font-size: 30px;
    color: #fff;
    font-family: 'Roboto Mono', monospace;
}
@media screen and (max-width: 767px){
    .content_imagenes img{
        width: 40vw;
    }
    .content_imagenes p{
        font-size: 20px;
    }
}
@media screen and (max-width: 576px){
    .content_imagenes{
        flex-direction: column;
    }
    .content_imagenes img{
        width: 100%;
    }
    .content_imagenes p{
        font-size: 15px;
        text-align: center;
        padding: 5px;
    }
}
/*section 3*/
.titulo-sabores{
    margin-top: 30px;
    margin-left: 30px;
}
.content_img-sabores{
    margin: 5px 30px;
    display: flex;
    flex-direction: row;
    gap: 10px;
}
.content_img-sabores div{
    padding: 20px 0px;
}
@media screen and (max-width: 576px){
    .content_img-sabores{
        flex-direction: column;
    }
    .content_img-sabores div{
        padding: 0;
    }
    .content_img-sabores div:nth-child(3){
        margin-bottom: 10px;
    }
}
/*footer responsive*/
footer{
    background-color: #8040bc;
    padding: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.img-footer img{
    width: 200px;
}
footer div ul{
    color: #fff;
    font-size: 20px;
    font-family: 'Roboto Mono', monospace;
    margin: 0;
    padding: 0;
}
footer div ul li b{
    font-size: 30px;
    font-family: 'Roboto Condensed', sans-serif;
    color: #000;
    border-bottom: solid 2px;
}

@media screen and (max-width: 767px){
    .img-footer img{
        width: 150px;
    }
    footer div ul{
        font-size: 15px;
    }
    footer div ul li b{
        font-size: 20px;
    }
}
@media screen and (max-width: 576px){
    footer{
        grid-template-columns: 1fr;
        text-align: center;
    }
}
/*página sobre nosotros responsive*/
.content_titulos-secundarios{
    margin: 25px 25px 0px 25px;
}
.sobre-nosotros{
    display: grid;
    grid-template-columns: 1fr 3fr;
}
.secciones{
    background: #d9009c;
    margin: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.contenido-sn{
    padding: 20px;
}
.contenido-sn h3{
    font-size: 40px;
    font-family: 'Roboto Condensed', sans-serif;
    color: #fff;
    text-shadow: 0px -1px 10px #8040bc;
    text-align: center;
    margin-bottom: 10px;
}
.contenido-sn p{
    font-size: 20px;
    font-family: 'Roboto Mono', monospace;
    color: #fff;
    margin: 0;
}
.carousel img{
    height: 80vh;
}
.img_izq-sn{
    text-align: center;
    padding: 20px;
}
.img_izq-sn img{
    border: solid 2px #430055;
    border-radius: 20px;
}
.carousel{
    margin: 15px 100px;
}
.carousel-sn img{
    height: 300px;
}
@media screen and (max-width: 992px){
    .sobre-nosotros{
        grid-template-columns: 1fr;
    }
    .img_izq-sn img{
        height: 400px;
    }
}
@media screen and (max-width: 767px){
    .sobre-nosotros{
        grid-template-columns: 1fr;
    }
    .contenido-sn h3{
        font-size: 30px;
    }
    .contenido-sn p{
        font-size: 18px;
    }
    .img_izq-sn img{
        height: 300px;
    }
    .carousel{
        margin: 15px 70px;
    }
    .carousel img{
        height: 200px;
    }
}
@media screen and (max-width: 576px){
    .sobre-nosotros{
        grid-template-columns: 1fr;
    }
    .contenido-sn h3{
        font-size: 20px;
    }
    .contenido-sn p{
        font-size: 15px;
    }
    .img_izq-sn img{
        height: 200px;
    }
    .carousel{
        margin: 15px 30px;
    }
    .carousel img{
        height: 150px;
    }
}
/*página nuestros sabores responsive*/
.contenedor{
    margin: 10px 15px 20px 15px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 10px;
}
.contenedor_secciones{
    display: flex;
    gap: 10px;
    justify-content: space-between;
    background-color: #d9009c;
    border-radius: 4px;
}
.contenedor_secciones img{
    height: 100%;
    width: 20vw;
}
.sub_secciones{
    margin-right: 10px;
    text-align: center;
}
.sub_secciones h3{
    font-size: 40px;
    color: #000;
    border-bottom: solid 2px;
    font-family: 'Roboto Condensed', sans-serif;
    margin: 0;
}
.sub_secciones ul{
    margin: 0;
    padding: 0;
}
.sub_secciones ul li{
    font-size: 20px;
    color: #fff;
    font-family: 'Roboto Mono', monospace;
}
@media screen and (max-width: 767px){
    .contenedor{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
    }
    .contenedor_secciones img{
        height: 100%;
        width: 40vw;
    }
    .sub_secciones h3{
        font-size: 30px;
    }
}
@media screen and (max-width: 576px){
    .contenedor{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
    }
    .contenedor_secciones{
        flex-direction: column;
        justify-content: center;
    }
    .contenedor_secciones img{
        height: 40vh;
        width: 100%;
    }
    .sub_secciones{
        margin: 10px;
    }
    .sub_secciones h3{
        font-size: 20px;
    }
    .sub_secciones ul li{
        font-size: 15px;
    }
}
/*página sucursales responsive*/
.sub_secciones ul li i{
    color: #430055;
}
.ubicacion-sucursal{
    text-align: center;
    margin: 20px;
}
.ubicacion-sucursal a{
    text-decoration: none;
    color: #fff;
    font-family: 'Roboto Mono', monospace;
    border: solid 2px;
    padding: 5px;
    background-color: #8040bc;
}
.ubicacion-sucursal a:hover{
    color: #d9009c;
}
/*Página de Contacto responsive */
.img-content{
    text-align: center;
    margin: 20px;
}
.img-content img{
    height: 100%;
    width: 300px;
}
.formulario{
    background: #d9009c;
    margin: 25px;
    display: grid;
    grid-template-columns: 1fr 3fr;
}
form{
    padding: 20px;
}
form div{
    display: flex;
    flex-direction: column;
}
form div label{
    font-size: 20px;
    font-family: 'Roboto Mono', monospace;
    color: #000;
}
form div input, textarea{
    color: #000;
    background: #ffffff1f;
    border: none;
    border-bottom: solid #000 3px;
    margin-bottom: 10px;
    padding: 9px;
    margin: 7px 0;
}
form div textarea{
    resize: none;
}
form div input:focus , textarea:focus{
    background: linear-gradient(to bottom, transparent, #fff);
    outline: none;
}
form button{
    width: 100%;
    color: #000;
    font-family: 'Roboto Mono', monospace;
    margin-top: 10px;
    padding: 10px;
    background-image: linear-gradient(45deg, #430055, #8040bc);
    border: none;
    border-radius: 4px;
}
@media screen and (max-width: 767px){
    .img-content img{
        width: 250px;
    }
}
@media screen and (max-width: 576px){
    .formulario{
        grid-template-columns: 1fr;
    }
    form{
        padding: 0px 20px 20px 20px;
    }
    form div input, textarea{
        width: 100%;
    }
    .img-content img{
        width: 150px;
    }
    form div label{
        font-size: 12px;
    }
}