// paleta de colores
$colores:
#fff,
#000,
#d9009c,
#430055,
#8040bc;

// tamaño de tipografia
$h2-fuente:
40px,
30px;

$h3-fuente:
40px,
30px,
20px;

$p-fuente:
30px,
20px,
15px;

// espacios
$espacio:
5px,
10px,
20px;

$margen:
25px,
5px 30px,
10px 15px 20px 15px,
25px 25px 0px 25px;


// bordes
$b-radius:
50%,
10%,
4%,
2%;