// tipografia titulos
$t-titulos:'Roboto Condensed', sans-serif;
$t-parrafos: 'Roboto Mono', monospace;

// sin margen
$sin-margen: 0px;

//sin padding
$sin-padding:0px;

// estilos predeterminados
$s-lista: none;
$d-text: none;

// sombra de texto
$sombra:0px -1px 10px #8040bc;
$sombra-h1:0px -1px 10px #d9009c;
$sombra-span:0px -1px 10px #fff;

// bordes de imagenes
$borde-img: 2px solid #430055;

// bordes inferiores
$borde-inferior: 3px solid #000;